/* HOME PAGE STYLE */

.home__hero-section{
    height: 90vh;
    width: 65%;
    display: grid;
    place-items: center;
    margin-left: auto;
}

.home__hero-section >  h1 {
    padding: 0 1rem;
    font-size: 4rem;
    text-align: right;
    text-shadow: 2px 2px var(--color-shadow);
    background: linear-gradient(to right, var(--color-surface1), var(--color-surface1-transparent-50));
}


.homepage > .page-article {
    background-color: var(--color-surface1);
    background: linear-gradient(var(--color-background), var(--color-surface1), var(--color-surface1-transparent-50));
}

@media screen and (max-width: 680px) {
    .home__hero-section{
        width: 100%;
        margin-left: 0;
    }

    .home__hero-section >  h1 {
        text-align: center;    
    }
}