.maze-visualizer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(100% - 75vmin) 1fr;
    place-items: center;
    width: 100%;
    row-gap: 0.75rem;
}

.maze-visualizer__heading{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    place-self: start;
    
    font-size: 2rem;
    align-self: center;
}

.maze-visualizer__settings-container{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    place-self: end;
}

.maze-grid{
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

@media screen and (max-width: 680px){
    .maze-visualizer {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 0.75rem;
    }

    .maze-visualizer__settings-container {
        place-self: center;
        flex-wrap: wrap;
    }

    .btn > img {
        width: 1.25rem;
    }
}

/* ========= SETTINGS STYLE ========= */

.maze-visualizer__settings-container{
    background: linear-gradient(to left, var(--color-surface1), var(--color-surface1-transparent-50), var(--color-surface1));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0.75rem 2rem;
}

.maze-visualizer__setting-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0 0.25rem;
    
}

.maze-visualizer__setting-wrapper > label {
    font-size: 0.9rem;
    width: 100%;
}

.maze-visualizer__toggle-btn.btn,
.maze-visualizer__reset-btn.btn{
    background-color: var(--color-secondary);
    font-size: 0.9rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem 0.75rem;
}

.btn > img {
    width: 1.5rem;
}

.btn:disabled:hover{
   background-color: var(--color-secondary);
}


/* ========= MAZE GRID STYLE ========= */

.maze-grid {
    background-color: var(--color-background);
    outline: 0.05rem solid var(--color-secondary);
    height: 75vmin;
    width: 100%;
    border-collapse: collapse;
}

.maze-cell {
    height: 1rem;
    width: 1rem;
    --cell-border-size: 0.01rem;
    background: radial-gradient(var(--color-surface2), transparent);
    border-color: var(--color-secondary);
    border-style: solid;
    position: relative;
}

.maze-cell > div {
    position: absolute;
    top: 0;
    height: 100%;
    display: grid;
    place-items: center;
}

.maze-cell > div > img {
    max-width: 70%;
}

/* Utility Classes */

.maze-cell.border-left {
    border-left-width: var(--cell-border-size);
}

.maze-cell.border-right {
    border-right-width:var(--cell-border-size);
}

.maze-cell.border-top {
    border-top-width: var(--cell-border-size);
}

.maze-cell.border-bottom {
    border-bottom-width: var(--cell-border-size);
}

.maze-weight-2 > img{
    filter: hue-rotate(30deg);
    width: 50%;
}

.maze-weight-3 >img {
    filter: hue-rotate(60deg);
    transform: rotate(90deg);
    width: 55%;
}

.maze-weight-4 > img {
    filter: hue-rotate(120deg);
    transform: rotate(180deg);
    width: 60%;
}

.maze-weight-5 > img{
    filter: hue-rotate(180deg);
    transform: rotate(270deg);
    width: 65%;
}