/* STYLE RESET */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

/* VARIABLES */

:root {
    font-size: 18px;

    /* Colors */
    --color-background: #050608;
    --color-surface1: hsl(224, 76%, 4%);
    --color-surface1-transparent-50: hsla(224, 79%, 4%, 0.5);
    --color-surface2: #090D28;
    --color-primary-surface: #090c7d;
    --color-secondary-surface: #2c4dde;
   
    --color-on-surface: rgba(255, 255, 255, 0.75);
    --color-on-surface-secondary: rgba(255, 255, 255, 0.65);
    --color-on-surface-primary: hsl(205, 94%, 77%);
    --color-on-surface-error: #fc4f4f;
   
    --color-primary: hsl(205, 39%, 39%);
    --color-secondary: #2d4049;

    
    --color-shadow: black;
   

    /* Size */
    --container-width: 80%;
    --transition: 500ms ease;

    /* Transition and Animation */
    --transition-linear: 0.4s linear;
}

@media screen and (max-width: 1024px) {
    :root {
        font-size: 16px;
        --container-width: 90%;
    }
}

@media screen and (max-width: 680px) {
    :root {
        font-size: 12px;
    }
}


/* GENERAL STYLE */

body{
    /* Background */
    background-color: var(--color-background);
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25))
    ,url(./images/background.jpg) no-repeat center / cover fixed;

    /* Positioning */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    /* Typography */
    color: var(--color-on-surface);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.7;
}

body > header, 
body > footer, 
body > main {
    display: grid;
    place-items: center;
}

body > header {
    height: 4rem;
}

body > main {
    min-height: calc(100vh - 4rem);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.container {
    width: var(--container-width);
    max-width: 1920px;
}

.page-article {
    background-color: var(--color-surface1);
    background: linear-gradient(var(--color-background), var(--color-surface1), var(--color-surface1-transparent-50));
}

/* Button Style */

button {
    background-color: transparent;
    cursor: pointer;
}

.btn {
    background-color: var(--color-secondary);
    color: var(--color-on-surface);  
    transition: background-color var(--transition);
}

.btn.lg{
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
    border-radius: 5rem;
}

.btn.sm{
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 2.5rem;
}

.btn:hover {
    background-color: var(--color-secondary-surface);
}

.btn:disabled{
    cursor: not-allowed;
    -webkit-filter: grayscale(75%);
    filter: grayscale(100%);
}

/* Range Input Style */

input[type=range] {
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    
    background: transparent;
    outline: none;
    cursor: pointer;
    width: 100%;
  }

  input[type=range]::-webkit-slider-runnable-track{
    background: var(--color-secondary);
    height: 0.5rem;
    border-radius: 1rem;
  }
  
  input[type=range]::-moz-range-track{
    background: var(--color-secondary-surface);
    height: 0.5rem;
    border-radius: 1rem;
  }

  input[type=range]::-ms-track{
    background: var(--color-secondary-surface);
    height: 0.5rem;
    border-radius: 1rem;
  }

  input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: var(--color-primary);
    margin-top: calc(calc(0.5rem / 2) - calc(1rem / 2));
    
  }

  input[type="range"]::-moz-range-thumb{
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: var(--color-on-surface-primary);
    margin-top: calc(calc(0.5rem / 2) - calc(1rem / 2));
  }

  input[type="range"]::-ms-thumb{
    -ms-appearance: none;
    appearance: none;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    background-color: var(--color-on-surface-primary);
    margin-top: calc(calc(0.5rem / 2) - calc(1rem / 2));
  }


  input[type="range"]:focus {
    outline: none;
  }



 /* Select Style */

 select {
    cursor: pointer;
    background-color: var(--color-secondary);
    color: var(--color-on-surface);
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
    outline: none;
 }

 select:focus{
    outline: thin solid var(--color-primary);
 }

 select:disabled {
    cursor: not-allowed;
    -webkit-filter: grayscale(75%);
    filter: grayscale(100%);
 }

/* Checkbox Style */
input[type=checkbox] {
    position: relative;
    cursor: pointer;
  }
  
  input[type=checkbox]:before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0;
    right: 0;
    background-color: var(--color-secondary);
  }
  
  input[type=checkbox]:checked:before {
    background-color: var(--color-primary);
  }
  
  input[type=checkbox]:checked:after {
    content: "✔";
    font-size: 0.9rem;
    color: var(--color-on-surface);
    position: absolute;
    top: 0;
    right: 15%;
  }

input[type="checkbox"]:checked:hover {
    accent-color: var(--color-secondary-surface);
}

input[type="checkbox"]:disabled{
    cursor: not-allowed;
    -webkit-filter: grayscale(75%);
    filter: grayscale(100%);
}